<h1>Login</h1>
<form method="POST" name="signup" action="/auth/login">
    <label>Username: <input type="text" name="username" required></label>
    <label>Password: <input type="password" name="password" required></label>
    <button type="submit">Login</button>
</form>